HOME
Example 1

In [3]:
print("Hello, World!")

Hello, World!

INTRO Example 2

In [12]:
print("Hello, World!")

Hello, World!

GET STARTED Example 3

In [15]:
print("Hello, World!")

Hello, World!

SYNTAX Example 4

In [18]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Example 5

In [21]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

Example 6 Variables in Python:

In [24]:
x = 5
y = "Hello, World!"

Example 7 Comments in Python:

In [28]:
#This is a comment.
print("Hello, World!")

Hello, World!

COMMENTS Example 8

In [33]:
#This is a comment
print("Hello, World!")

Hello, World!

Example 9

In [36]:
print("Hello, World!") #This is a comment

Hello, World!

Example 10

In [39]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

Example 11

In [42]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Example 12

In [45]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

VARIABLES Example 13

In [48]:
x = 5
y = "John"
print(x)
print(y)

5
John

Example 14

In [53]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Example 15

In [58]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Example 16

In [61]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 17

In [64]:
x = "John"
# is the same as
x = 'John'

Example 18

In [67]:
a = 4
A = "Sally"
#A will not overwrite a

VARIABLE NAMES Example 19

In [72]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

ASSIGN MULTIPLE VALUES Example 20

In [75]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

Example 21

In [78]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Example 22

In [81]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

OUTPUT VARIABLES Example 23

In [84]:
x = "Python is awesome"
print(x)

Python is awesome

Example 24

In [87]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Example 25

In [90]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Example 26

In [93]:
x = 5
y = 10
print(x + y)

15

Example 27

In [96]:
x = 5
y = "John"
print(x, y)

5 John

GLOBAL VARIABLES Example 28

In [99]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Example 29

In [102]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [104]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Example 30

In [109]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

DATA TYPES Example 31

In [115]:
x = 5
print(type(x))

<class 'int'>

Example 32

In [118]:
x = "Hello World"	#str	
x = 20	#int	
x = 20.5	#float	
x = 1j	#complex	
x = ["apple", "banana", "cherry"]	#list	
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
x = {"name" : "John", "age" : 36}	#dict	
x = {"apple", "banana", "cherry"}	#set	
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
x = True	#bool	
x = b"Hello"	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview	
x = None	#NoneType

Example 33

In [123]:
x = str("Hello World")	#str	
x = int(20)	#int	
x = float(20.5)	#float	
x = complex(1j)	#complex	
x = list(("apple", "banana", "cherry"))	#list	
x = tuple(("apple", "banana", "cherry"))	#tuple	
x = range(6)	#range	
x = dict(name="John", age=36)	#dict	
x = set(("apple", "banana", "cherry"))	#set	
x = frozenset(("apple", "banana", "cherry"))	#frozenset	
x = bool(5)	#bool	
x = bytes(5)	#bytes	
x = bytearray(5)	#bytearray	
x = memoryview(bytes(5))	#memoryview

NUMBERS Example 34

In [126]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Example 35

In [129]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Example 36

In [132]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Example 37

In [135]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 38

In [138]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Example 39

In [141]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Example 40

In [144]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Example 41

In [147]:
import random

print(random.randrange(1, 10))

3

CASTING Example 42

In [150]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

Example 43

In [153]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

Example 44

In [156]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

STRINGS Example 45

In [161]:
print("Hello")
print('Hello')

Hello
Hello

Example 46

In [164]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Example 47

In [167]:
a = "Hello"
print(a)

Hello

Example 48

In [170]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 49

In [173]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Example 50

In [176]:
a = "Hello, World!"
print(a[1])

e

Example 51

In [179]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Example 52

In [182]:
a = "Hello, World!"
print(len(a))

13

Example 53

In [185]:
txt = "The best things in life are free!"
print("free" in txt)

True

Example 54

In [188]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Example 55

In [191]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Example 56

In [194]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

SLICING STRINGS Example 57

In [197]:
b = "Hello, World!"
print(b[2:5])

llo

Example 58

In [200]:
b = "Hello, World!"
print(b[:5])

Hello

Example 59

In [203]:
b = "Hello, World!"
print(b[2:])

llo, World!

Example 60

In [206]:
b = "Hello, World!"
print(b[-5:-2])

orl

MODIFY STRINGS Example 61

In [210]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Example 62

In [213]:
a = "Hello, World!"
print(a.lower())

hello, world!

Example 63

In [216]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

Example 64

In [219]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Example 65

In [222]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

CONCATENATE STRINGS Example 66

In [226]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

Example 67

In [229]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

FORMAT STRINGS Example 68

In [233]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

Example 69

In [236]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

Example 70

In [239]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Example 71

In [242]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

ESCAPE CHARACTERS Example 72

In [258]:
txt = "We are the so-called \"Vikings\" from the north."