Python Math library

TASK 1

In [3]:
import math

def degrees_to_radians(degrees):
    return degrees * (math.pi / 180)

degree = float(input("Degree: "))
radian = degrees_to_radians(degree)

print(f"Radian: {radian:.6f}")

Degree:  15

Radian: 0.261799

TASK 2

In [5]:
def trapezoid_area(height, base1, base2):
    return ((base1 + base2) / 2) * height

height = float(input("Height: "))
base1 = float(input("Base, first value: "))
base2 = float(input("Base, second value: "))
area = trapezoid_area(height, base1, base2)
print(f"Output: {area:.1f}")

Height:  5
Base, first value:  5
Base, second value:  6

Output: 27.5

TASK 3

In [8]:
import math

def regular_polygon_area(n, side_length):
    return (n * side_length ** 2) / (4 * math.tan(math.pi / n))

num_sides = int(input("Number of sides: "))
side_length = float(input("The length of a side: "))

area = regular_polygon_area(num_sides, side_length)
print(f"The area of the polygon is: {area:.1f}")

Number of sides:  4
The length of a side:  25

The area of the polygon is: 625.0

TASK 4

In [13]:
def parallelogram_area(base, height):
    return base * height

base = float(input("Length of base: "))
height = float(input("Height of parallelogram: "))

area = parallelogram_area(base, height)
print(f" Output: {area:.1f}")

Length of base:  5
Height of parallelogram:  6

 Output: 30.0

Python iterators and generators

TASK 1

In [17]:
def square_generator(N):
    for i in range(1, N + 1):
        yield i ** 2

N = int(input("Number: "))
for square in square_generator(N):
    print(square)

Number:  5

1
4
9
16
25

TASK 2

In [20]:
def even_numbers_generator(n):
    for i in range(0, n + 1, 2):
        yield i

n = int(input("Number: "))
even_numbers = (str(num) for num in even_numbers_generator(n))
print(", ".join(even_numbers))

Number:  23

0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22

TASK 3

In [25]:
def generator(n):
    for i in range(0, n + 1):
        if i % 3 == 0 and i % 4 == 0:
            yield i

n = int(input("Number: "))

divisible_numbers = (str(num) for num in generator(n))
print(", ".join(divisible_numbers))

Number:  99

0, 12, 24, 36, 48, 60, 72, 84, 96

TASK 4

In [34]:
def squares(a, b):
    for i in range(a, b + 1):
        yield i ** 2

a = int(input("Number (a): "))
b = int(input("Number (b): "))

for square in squares(a, b):
    print(square)

Number (a):  5
Number (b):  8

25
36
49
64

TASK 5

In [43]:
def countdown(n):
    for i in range(n, -1, -1):
        yield i

n = int(input("Number (n): "))

for num in countdown(n):
    print(num)

Number (n):  9

9
8
7
6
5
4
3
2
1
0

Python date

TASK 1

In [41]:
from datetime import datetime, timedelta
current_date = datetime.now()
new_date = current_date - timedelta(days=5)
print("Current Date:", current_date.strftime("%Y-%m-%d"))
print("Date After Subtracting 5 Days:", new_date.strftime("%Y-%m-%d"))

Current Date: 2025-02-11
Date After Subtracting 5 Days: 2025-02-06

TASK 2

In [46]:
from datetime import datetime, timedelta
today = datetime.now()

yesterday = today - timedelta(days=1)
tomorrow = today + timedelta(days=1)

print("Yesterday:", yesterday.strftime("%Y-%m-%d"))
print("Today:", today.strftime("%Y-%m-%d"))
print("Tomorrow:", tomorrow.strftime("%Y-%m-%d"))

Yesterday: 2025-02-10
Today: 2025-02-11
Tomorrow: 2025-02-12

TASK 3

In [51]:
from datetime import datetime
current_datetime = datetime.now()

datetime_without_microseconds = current_datetime.replace(microsecond=0)

print("Original Datetime:", current_datetime)
print("Datetime Without Microseconds:", datetime_without_microseconds)

Original Datetime: 2025-02-11 13:17:46.047853
Datetime Without Microseconds: 2025-02-11 13:17:46

TASK 4

In [54]:
from datetime import datetime

date_format = "%Y-%m-%d %H:%M:%S"  

date1_str = input("Enter the first date (YYYY-MM-DD HH:MM:SS): ")
date2_str = input("Enter the second date (YYYY-MM-DD HH:MM:SS): ")

date1 = datetime.strptime(date1_str, date_format)
date2 = datetime.strptime(date2_str, date_format)

difference_in_seconds = abs((date2 - date1).total_seconds())

print(f"Difference between the two dates: {difference_in_seconds} seconds")

Enter the first date (YYYY-MM-DD HH:MM:SS):  2024-02-10 12:00:00
Enter the second date (YYYY-MM-DD HH:MM:SS):  2024-02-10 14:30:30

Difference between the two dates: 9030.0 seconds

JSON

In [87]:
import json

with open("C:/Users/MyNote/Downloads/sample-data.json", "r") as file:
    data = json.load(file)

print("Interface Status")
print("=" * 70)
print(f"{'DN':<50} {'Description':<15} {'Speed':<10} {'MTU':<5}")
print("-" * 70)

for item in data["imdata"]:
    attributes = item["l1PhysIf"]["attributes"]
    dn = attributes["dn"]
    description = attributes["descr"] if attributes["descr"] else "N/A"  
    speed = attributes["speed"]
    mtu = attributes["mtu"]
    
    print(f"{dn:<50} {description:<15} {speed:<10} {mtu:<5}")

Interface Status
======================================================================
DN                                                 Description     Speed      MTU
----------------------------------------------------------------------
topology/pod-1/node-201/sys/phys-[eth1/33]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/34]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/35]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/36]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/1]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/2]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/3]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/4]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/5]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/6]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/7]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/8]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/9]          N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/10]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/11]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/12]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/13]         N/A             inherit    9150
topology/pod-1/node-201/sys/phys-[eth1/14]         N/A             inherit    9150